<table id="table_user" class="striped">
 <thead>
  <tr>
    <th> IdUsuario</th>
     <th> IdProducto</th>
    <th>Email</th>
    <th>Nombre usuario </th>
    <th> Habilitado</th>
    <th> Acciones </th>
  </tr>
 </thead>
</table>
