<table id="table_users" class="striped">
 <thead>
  <tr>
    <th> IdUsers</th>
    <th> IdProducto</th>
    <th> Email </th>
    <th> name </th>
    <th> active </th>
    <th> Acciones </th>
  </tr>
 </thead>
</table>