<header>
    <nav>
    <div class="nav-wrapper blue">
      <a href="#" class="brand-logo">Formulario</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="http://localhost/cursoMigue/NuevaCarpeta/prueb/web/app_dev.php/test">productos</a></li>
        <li><a href="http://localhost/cursoMigue/NuevaCarpeta/prueb/web/app_dev.php/usuario">usuario</a></li>
      </ul>
    </div>
  </nav>
</header>
