<!DOCTYPE html>
<html>
	<head>
		<!--Import Google Icon Font-->
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{# cdn #}
		<!-- Compiled and minified CSS -->
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> <!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		{# final de cdn #}
	</head>
	<nav>
		<div class="nav-wrapper">
			<a href="" class="brand-logo">Productos</a>
			<ul
				id="nav-mobile" class="right hide-on-med-and-down">{# <li>
																														<a href="">sass</a>
																													</li>
																													<li>
																														<a href="">sass
																															<span class="new badge">4</span>
																														</a>
																													</li>
																													<li>
																														<a href="">sass</a>
																													</li> #}
			</ul>
		</div>
	</nav>

	<dir>

		<body>

			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s6">
							<input id="nameP" name="nameP" type="text" class="validate">
							<label for="nameP">Nombre del Producto</label>
						</div>


						<dir>

							<div class="switch">
								<label>
									habilitado
									<input id="activeP" name="activeP" type="checkbox">
									<span class="lever" for="activeP"></span>
									desabilitado
								</label>
							</div>
						</form>
						<dir>
							<button class="btn waves-effect waves-light" type="submit" name="action">Guardar
								<i class="material-icons right">send</i>
							</button>
						</div>


						<script type="text/javascript" src="js/materialize.min.js"></script>
					</body>
				</html>
			</body>
		</body>
	</html>
</html>
