
<form id="form_product" class="col s12">
	<div class="row">
		<div class="input-field col s6">
			<input id="nameP" name="nameP" type="text" class="validate">
			<label for="nameP">Nombre del Producto</label>
		</div>
		<div class="switch">
			<label>
				habilitado
				<input id="activeP" name="activeP" type="checkbox">
				<span class="lever" for="activeP"></span>
				desabilitado
			</label>
		</div>
		<input id="id" name="id"type="text" value='' hidden>
	</div>
</form>
