<dialog id="modal_addUser" style="border:none">
	<h3 id="modal_titleUs"></h3>
	<div class="modal-content">
		{% include 'TestBundle:Default:formulario.html.twig' %}
	</div>
	<div class="modal-footer">
		<a id="btnSaveUs" class="modal-close waves-effect waves-green btn-flat">Save</a>
		<a class="modal-close waves-effect waves-red btn-flat btn_close">close</a>
	</div>
</div>
