<dialog id="modal_addProduct" style="border:none">
	<h3 id="modal_title"></h3>
	<div class="modal-content">
		{% include 'TestBundle:Default:formularioProductos.html.twig' %}
	</div>
	<div class="modal-footer">
		<a id="btnSave" class="modal-close waves-effect waves-green btn-flat">Save</a>
		<a class="modal-close waves-effect waves-green btn-flat btn_close">close</a>
	</div>
</div>
