<?php
<table class="default">

  <tr>

    <th>Nombre producto </th>

    <th> IdProducto</th>
    
    <th> Habilitado</th>

  </tr>

    <tr>

        <td> </td>

        <td> </td>

    </tr>

  <tr>

    <td></td>

    <td></td>

</tr>

<tr>

    <td></td>

    <td></td>

</tr>
</table>