  <dialog id="modal_addUser" style="border:none">
    <h3 id="modal_title"></h3>
    <div class="modal-content">
      {% include 'UserBundle:Default:formulario.html.twig' %}
    </div>
    <div class="modal-footer">
      <a id="btnSave" class="modal-close waves-effect waves-green btn-flat">Save</a>
      <a class="modal-close waves-effect waves-green btn-flat btn_close">close</a>
    </div>
  </div>